@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:wght@100&display=swap');

body{
    background-color: white/*#E5E5E5*/;
    margin: auto;
}

/* Super Portfolio of */

header section{
    text-align: center;
}
section h3{
    
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

/* Digital Designer */

section h1{

    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 120px;
    
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    
    color: #000000;
}



/* WORK */

section h2{ 
    
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 160px;
    line-height: 188px;
    

    letter-spacing: -0.09em;
    text-transform: uppercase; /*braucht man das?*/

    color: #000000;
}

/* portfolio1 */

main article:nth-of-type(1){
    background: url("../img/portfolio2.jpg") center/cover no-repeat;

    /*shorthand*/
}

main article:nth-of-type(1) div:nth-of-type(1){
    padding:50px 0px 50px 50px; /*50px 0px*/
}

main article:nth-of-type(1) div:nth-of-type(2){
    padding:50px 50px 50px 50px; /*50px 0px*/ 
}

/*-2019*/
div p:first-child{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
 

    color: #9E9E9E; 
}

/* Orbis */
 div p:nth-child(2){

    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    margin: 0;
   
    
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
 }

 /* Corporate Website */

 div p:nth-child(3){

    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
 
    color: #9E9E9E;    
 }


 .diveIn {
    cursor: pointer;
    
}

.diveInPage {
    text-align: right;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;
    margin: 0;
    font-style: normal;
    font-weight: normal;

    color: #FFFFFF;
}

.diveIn:hover ~ .diveInPage{
    color: pink;
}
main section:nth-child(odd) {
    color: white;
}

main section:nth-child(even) {
    color: black;
}

main section:nth-child(odd) article a {
    display: block;
    width: 50px;
    margin-top: 50px;
    padding: 5px 10px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    color: white;
}

main section:nth-child(even) article a {
    display: block;
    width: 50px;
    margin-top: 50px;
    padding: 5px 10px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    color: black;
}

/* +++lösung mit klasse+++ +*/

main article:nth-child(odd) {
    color: white;
}

main article:nth-child(even) {
    color: black;
}

main article:nth-child(odd) div a {
    display: block;
    width: 50px;
    margin-top: 50px;
    padding: 5px 10px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    color: white;
}

main article:nth-child(even) div p {
    display: block;
    width: 50px;
    margin-top: 50px;
    padding: 5px 10px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    color: black;
}

/* +++lösung mit klasse+++ +*/

.diveIn {
    cursor: pointer;
}

.diveInPage {
    text-align: right;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;
    margin: 0;
}
/*
main article:nth-child(odd) div .diveIn:hover~.diveInPage {
    color: white;
}

main article:nth-child(even) div .diveIn:hover~.diveInPage {
    color: black;}*/







